### Unity folders & files ###
[Ll]ibrary/
!**/[Aa]ssets/**/[Ll]ibrary

[Tt]emp/
!**/[Aa]ssets/**/[Tt]emp

[Oo]bj/
!**/[Aa]ssets/**/[Oo]bj

[Ll]ogs/
!**/[Aa]ssets/**/[Ll]ogs

[Mm]emoryCaptures/
!**/[Aa]ssets/**/[Mm]emoryCaptures/

UnityGenerated/
**/[Aa]ssets/AssetStoreTools*
**/[Aa]ssets/StreamingAssets/crashlytics-build.properties

sysinfo.txt
crashlytics-build.properties

# *.unitypackage

!**/[Aa]ssets/**/*.meta

# Builds #
[Bb]uild/
!**/[Aa]ssets/**/[Bb]uild/
[Bb]uilds/
!**/[Aa]ssets/**/[Bb]uilds/
*.apk

# Addon #
**/SteamVR/InteractionSystem/Core/Icons.meta
**/SteamVR/Input/Editor/Resources.meta
**/SteamVR/Input/Editor/Resources/Icons.meta
#**/TouchScript/Editor/EditorResources/Icons.meta

# CWJ #
CWJ_ProfilingLog.txt
CWJ_ProfilingLog.txt.meta
**/CWJ/**/*_ScriptableObject.asset
**/CWJ/**/*_ScriptableObject.asset.meta
!**/CWJ/**/CustomDefine_ScriptableObject.asset
!**/CWJ/**/CustomDefine_ScriptableObject.asset.meta
!**/CWJ/**/PsMessage_ScriptableObject.asset
!**/CWJ/**/PsMessage_ScriptableObject.asset.meta

### Visual Studio / MonoDevelop generated ###
.gradle/
.vs/
**/ExportedObj/
.consulo/
*.csproj
*.csproj.meta
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.pidb.meta
*.booproj
*.svd
*.pdb
*.pdb.meta
*.mdb
*.mdb.meta
*.opendb
*.VC.db

### OS ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

